# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- list some popular languages
- list some commonly used libraries by Data Scientists
- list some Data Science Tools
- make arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. scala

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. keras
3. numpy

|Data Science Tools|
|------------------|
|jupiter notebook|
|VS code|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# this a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
Michael